# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Text Editors
*~

# Qt project files:
*.pro.user

# Build catalog
build*/

# Visual Studio
*.opensdf
*.sdf
*.sln
*.v12.suo
*.vcxproj.filters
*.vcxproj.user
x64/
GeneratedFiles/

